.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{
    float: left;
    background-color: lavender;
}
nav li a{
    display: block;
    color: darkseagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover{
    background-color: goldenrod;
}
li{
    list-style: none;
}
input{
    border-radius: 20%;
}
body{
    background-color: aquamarine;
    color: darkolivegreen;

}